.main {
    margin-bottom: 85px;

    // .main__trusted

    &__trusted {
        display: flex;
        align-items: center;
        gap: 154px;
        margin-bottom: 184px;        
        
        @include desktop-small {
            flex-direction: column;
            gap: 54px;
            margin-bottom: 30px;
        } 
        
    }

    // .main__trusted-title

    &__trusted-title {
    @include text ($font,700,36px,50px,$color-gray);
    cursor: default;
    }

    // .main__trusted-logo

    &__trusted-logo {
        display: flex;
        align-items: center;
        gap: 30px;
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include mobile {
            display: grid;
            grid-template-columns: 1fr ;
        }
    }

    // .main__trusted-item1

    &__trusted-item1 {
    }

    // .main__trusted-item2

    &__trusted-item2 {

    }

    // .main__trusted-item3

    &__trusted-item3 {

    }

    // .main__trusted-item4

    &__trusted-item4 img{
        
    }
}
.item {
    background: url(../img/company/udemy-logo.svg) no-repeat center;
    width: 190px;
    height: 60px;
    cursor: pointer;


}
.item img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* steps */
.steps {
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    @include tablet {
        flex-direction: column;
    }

&__bg-line {
    position: absolute;
    top: 0;
    height: 500px;
    width: 500px;
    background: url(../img/line2.svg) center no-repeat;
    background-size: cover;
    @include mobile {
        display: none;
    }

}
    // .steps__cards

    &__cards {
        z-index: 2;
        padding: 70px 0 0 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        cursor: pointer;
        @include mobile {
            grid-template-columns: 1fr;
            padding: 0;
            .transform {
                transform: translateY(0);
            }
        }

    }

    // .steps__card

    &__card {
        transition: $transition;
        padding: 50px 23px;
        width: 255px;
        height: 255px;
        text-align: center;
        background: $color-white;
        box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
        border-radius: 10px;
    }
    &__card:hover {
        background: $color-green;
    }
    &__card:hover &__name {
        color: $color-white;
    }
    &__card:hover &__number {
        background: $color-white;
        color: $color-black;
    }


    // .steps__number

    &__number {
        margin: 0 auto;
        width: 74px;
        height: 74px;
        background: $color-green;
        border-radius: 50%;
        @include text ($font,700,30px,25px,$color-white);
        padding: 24px;
        margin-bottom: 30px;
    }

    // .steps__name

    &__name {
    @include text ($font,600,28px,15px,$color-title);
    }
    
    
    // .steps__info

    &__info {
        cursor: default;
        max-width: 611px;
        
    }

    // .steps__title

    &__title {
        @include text ($font,700,58px,74px,$color-title);
        margin-bottom: 30px;
    }

    // .steps__desc

    &__desc {
        @include text ($font,400,18px,30px,#8C8E91);
        margin-bottom: 50px;
    }



    
    // .steps__btn

    &__btn {
        @include text ($font,600,20px,32px,$color-title);
        text-decoration-line: underline;
    }
    &__btn a {
        position: relative;
        padding-left: 76px;
    }
    &__btn a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -35px;
        width: 58px;
        height: 80px;
        background: url(../img/play2.png) center no-repeat;
    }
}
/* popular */
.popular {
    margin-bottom: 100px;

    // .popular__title

    &__title {
        @include text ($font,700,58px,74px,$color-title);
        margin-bottom: 133px;
        cursor: default;
        @include mobile {
            font-size: 40px;
            margin-bottom: 0;
        }
    }

    // .popular__items

    &__items {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        @include tablet {
        grid-template-columns: 1fr 1fr;
        .transform-b {
            display: none;
        }
        }
        @include mobile {
            grid-template-columns: 1fr;

            }
    }

    // .popular__item

    &__item {
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid #F2EFEF;
        box-shadow: 0px 20px 100px rgba(87, 88, 89, 0.1);
        border-radius: 15px;
    }

    // .popular__avatar
    &__avatar {

    }
    &__avatar img{
        border-radius: 15px 15px 0 0;
        width: 100%;
    }
    

    // .popular__designation

    &__designation {
        @include text ($font,600,30px,40px,$color-title);
        margin-bottom: 30px;

    }

    // .popular__desc

    &__desc {
        margin-bottom: 21px;
        display: flex;
        justify-content: space-between;

    }

    // .popular__lectures

    &__lectures {
        @include text ($font,600,20px,15px,$color-gray);
        padding-left: 37px;
        position: relative;
    }
    &__lectures::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        background: url(../img/courses/play-rot.svg) no-repeat center;
        width: 26px;
        height: 36px;
    }

    // .popular__learners

    &__learners {
        @include text ($font,600,18px,22px,$color-gray);
        position: relative;
    }
    &__learners::before{
        content: "";
        position: absolute;
        left: -36px;
        bottom: -2px;
        background: url(../img/courses/student.svg) no-repeat center;
        width: 26px;
        height: 26px;
    }

    // .popular__man

    &__man {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    // .popular__photo

    &__photo {
        width: 68px;
        height: 73px;
        background: url(../img/courses/cours-man1.svg);
        
    }
    

    // .popular__profile

    &__profile {
    }

    // .popular__name

    &__name {
        @include text ($font,700,20px,21px,$color-title);
    }

    // .popular__view

    &__view {
        @include text ($font,700,12px,21px,$color-green);
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .popular__price

    &__price {
        @include text ($font,700,34px,15px,#4C68FF);
    }
    &__btn {
        display: flex;
        align-items: center;   
        justify-content: center;  
        cursor: pointer;   
    }
}
hr {
    margin: 21px auto;
    width: 90%;
    border: 0;
    border-bottom: 1px solid rgba(38, 142, 170, 0.5);

}
.popular__padding {
    padding: 30px;
}

/* about us */
.about-us {
    margin-top: 100px ;
    margin-bottom: 150px;
    // .about-us__title

    &__title {
        text-align: center;
        @include text ($font,600,58px,74px,#424232);
        margin-bottom: 50px;
    }

    // .about-us__items

    &__items {
        display: flex;
        gap: 78px;
        @include tablet-small {
            flex-direction: column;
        }
    }

    // .about-us__item

    &__item {

        border: 1px solid rgba(231, 231, 231, 0.7);
        box-shadow: 30px 30px 70px rgba(99, 98, 98, 0.06);
        border-radius: 15px;
        padding: 82px 51px;

    }
    &__item-big {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 1000px;
    }
    &__item-small {
    }

    // .about-us__photo

    &__photo {
        margin-bottom: 25px;
    }

    // .about-us__text

    &__text {
        @include text ($font,400,28px,40px,#8C8E90);
        margin-bottom: 60px;
        margin-bottom: 32px;
        cursor: default;
    }

    // .about-us__name

    &__name {
        @include text ($font,600,30px,10px,$color-title);
        margin-bottom: 32px;
        cursor: default;

    }

    // .about-us__job

    &__job {
        cursor: default;

    }

    // .about-us__right

    &__right {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
