*, *::before, *::after{
    box-sizing: border-box;

}

.bg-color {
    background: #E4F5EB;
    overflow: auto;
}
.container {
    max-width: 1410px;
    padding: 50px 10px 0;
    margin: 0 auto;
    overflow: hidden;
}
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 20px 23px;
    background: $color-green;
    box-shadow: 0px 7.93174px 79.3174px rgba(9, 188, 77, 0.2);
    border-radius: 5px;
    @include text ($font,600,19px,15px,$color-white);
    transition: $transition;
    border: 1px solid transparent;
    &:hover {
        background: $color-white;
        color: $color-green;
        border: 1px solid $color-green;
    }
}
.transform {
    transform: translateY(30px);
}
.transform-b {
    transform: translateY(-50px);

}


